{% extends "layout_2.html" %}
{% block about %}
<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- <img src="/static/img/IMG_465456-small.jpg" class="img-fluid"> !-->
            <p>My name is Tim, and I'm a software developer. Here you'll find reference books,
            cheatsheets, and posts about math. These should not be considered as a learning resource,
            but more as a useful reference. The best place to learn math is
                <a href="https://khanacademy.org">Khan Academy</a>. Most of the material
                in this blog is based on Sal's videos and my answers on the academy website.
                I thought it would be great to create an easy-to-reach
                summary, because it's hard to remember all the ideas. Hope this helps someone.</p>
        </div>
      </div>
    </div>
{% endblock %}

{% block about_title %}
<title>About</title>
{% endblock %}