{% extends "layout_2.html" %}
{% block home_title %}
<title>Algebra, Statistics and Calculus Tutorials</title>
{% endblock %}

{% block index %}
<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% if not posts %}
            <div class="post-preview">
              <h2 class="post-title">Coming soon...</h2>
              <br>
            </div>
          {% else %}
            {% for post in posts %}
              {% for key, value in post.items() %}
                {% if key.published != 0 %}
                <div class="post-preview">
                  <a href="{{ url_for('post', url=key.url) }}">
                    <h2 class="post-title">
                      {{ key.heading }}
                    </h2>
                    <h3 class="post-subtitle">
                      {{ key.sub_heading }}
                    </h3>
                  </a>
                  <p class="post-meta">Posted
                    {% if value == "Today" %}
                    Today
                    {% endif %}
                    by
                    <a href="{{ url_for('about') }}">{{ key.author }}</a>
                    {% if key.category is not none %}
                    in <a href="{{ url_for(key.category.lower().replace(' ', '')) }}">{{ key.category }}</a>
                    {% endif %}
                    {% if value != "Today" %}
                    on {{ value }}
                    {% endif %}
                    </p>
                </div>
                <hr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
          <!-- Pager -->
            <a class="btn btn-primary float-right" href="{{ url_for('archive') }}">See All Posts &rarr;</a>
        </div>
        </div>
      </div>
    </div>

    <hr>
{% endblock %}
